# Notebook - WNBA Playoffs Qualification Prediction
The objective of this project is developing a machine learning model that is able to predict which WNBA teams will be qualified to the playoffs in the next season, based on data on the previous seasons.

Authors:
- 
- 
- Pedro Gomes

## Step 1: Data Analysis
We started by importing all data from the .csv files into DataFrames:

In [23]:
import pandas as pd

awards_players = pd.read_csv('dataset/awards_players.csv')
coaches = pd.read_csv('dataset/coaches.csv')
players = pd.read_csv('dataset/players.csv')
players_teams = pd.read_csv('dataset/players_teams.csv')
series_post = pd.read_csv('dataset/series_post.csv')
teams = pd.read_csv('dataset/teams.csv')
teams_post  = pd.read_csv('dataset/teams_post.csv')

After importing the .csv files, we started taking a look at each of the tables, to see the data we had available to work on. We also took some notes about each of the table's attributes, to make it easier to analyse and understand the data. Below, we have an explanation of each attribute of eah table and a sample of lines taken from the table.

## Table: Awards-Players

This table represents an association between a player and an award she received.

### Attribute Specification

| Attribute Name | Description |
| -- | -- |
|playerID|Player identifier|
|award|Name of the award|
|year|Year the player was awarded with this award|
|lgID|League identifier for the league where the player was awarded|

### Table Sample

In [24]:
awards_players.head(15)

      playerID                               award  year  lgID
0   thompti01w  All-Star Game Most Valuable Player     1  WNBA
1   leslili01w  All-Star Game Most Valuable Player     2  WNBA
2   leslili01w  All-Star Game Most Valuable Player     3  WNBA
3   teaslni01w  All-Star Game Most Valuable Player     4  WNBA
4   swoopsh01w  All-Star Game Most Valuable Player     6  WNBA
5   douglka01w  All-Star Game Most Valuable Player     7  WNBA
6    fordch01w  All-Star Game Most Valuable Player     8  WNBA
7    cashsw01w  All-Star Game Most Valuable Player    10  WNBA
8   coopemi01w                   Coach of the Year     1  WNBA
9   hugheda99w                   Coach of the Year     2  WNBA
10  stanlma99w                   Coach of the Year     3  WNBA
11  laimbbi01w                   Coach of the Year     4  WNBA
12  mcconsu01w                   Coach of the Year     5  WNBA
13  whisejo99w                   Coach of the Year     6  WNBA
14  thibami99w                   Coach of the Year     7  WNBA

### Table Analysis

In [25]:
print(awards_players.describe())

            year
count  95.000000
mean    5.789474
std     2.747900
min     1.000000
25%     3.500000
50%     7.000000
75%     8.000000
max    10.000000

## Table: Coaches

Represents an association between a Coach, a year of the league, a team and the gathered stats about it.

### Attribute Specification
| Attribute Name | Description |
|--|--|
|coachID| Indicates which coach the stats refer to|
|year| Indicates the year the stats refer to|
|tmID| Indicates the team the stats refer to|
|lgID| Indicates the league the stats refer to|
|stint| Period of time that a player, coach, or other individual spends with a particular team or in the league itself|
|won| Number of matches won by the team in the specified year|
|lost| Number of matches lost by the team in the specified year|
|post_wins| Number of wins during playoffs|
|post_losses| Number of losses during playoffs|

### Table Sample

In [26]:
coaches.head(15)

       coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0   adamsmi01w     5  WAS  WNBA      0   17    17          1            2
1   adubari99w     1  NYL  WNBA      0   20    12          4            3
2   adubari99w     2  NYL  WNBA      0   21    11          3            3
3   adubari99w     3  NYL  WNBA      0   18    14          4            4
4   adubari99w     4  NYL  WNBA      0   16    18          0            0
5   adubari99w     5  NYL  WNBA      1    7     9          0            0
6   adubari99w     6  WAS  WNBA      0   16    18          0            0
7   adubari99w     7  WAS  WNBA      0   18    16          0            2
8   adubari99w     8  WAS  WNBA      1    0     4          0            0
9   aglerbr99w     1  MIN  WNBA      0   15    17          0            0
10  aglerbr99w     2  MIN  WNBA      0   12    20          0            0
11  aglerbr99w     3  MIN  WNBA      1    6    13          0            0
12  aglerbr99w     9  SEA  WNBA      0   22    12          1            2
13  aglerbr99w    10  SEA  WNBA      0   20    14          1            2
14  allenso99w     1  SAC  WNBA      0   21    11          0            2

### Table Analysis

In [27]:
print(coaches.describe())

             year       stint         won        lost   post_wins  post_losses
count  162.000000  162.000000  162.000000  162.000000  162.000000   162.000000
mean     5.314815    0.364198   14.672840   14.623457    1.166667     1.172840
std      2.896715    0.693861    6.403445    5.678789    1.953656     1.316782
min      1.000000    0.000000    0.000000    2.000000    0.000000     0.000000
25%      3.000000    0.000000   10.000000   11.000000    0.000000     0.000000
50%      5.000000    0.000000   16.000000   15.000000    0.000000     0.000000
75%      8.000000    0.000000   18.750000   18.000000    1.000000     2.000000
max     10.000000    2.000000   28.000000   30.000000    7.000000     5.000000

## Table : Players

Associates a series of stats with a player.

|Attribute|Description|
|--|--|
|bioID| Indicates the player the stats refer to.|
|pos| Position the player plays in ??? ||
|firstseason| (aparece todos os valores a 0)|
|lastseason| (aparece todos os valores a 0)|
|height| Player's height|
|weight| Player's weight|
|college| College the player attended to|
|collegeOther| Another college the player attended to|
|birthDate| Player's date of birth|
|deathDate| Player's date of death ("0000-00-00" in case the player is still alive)|

### Table Sample

In [28]:
players.head(15)

,bioID,pos,firstseason,lastseason,height,weight,college,collegeOther,birthDate,deathDate
0,abrahta01w,C,0,0,74.0,190,George Washington,NaN,1975-09-27,0000-00-00
1,abrossv01w,F,0,0,74.0,169,Connecticut,NaN,1980-07-09,0000-00-00
2,adairje01w,C,0,0,76.0,197,George Washington,NaN,1986-12-19,0000-00-00
3,adamsda01w,F-C,0,0,73.0,239,Texas A&M,Jefferson College (JC),1989-02-19,0000-00-00
4,adamsjo01w,C,0,0,75.0,180,New Mexico,NaN,1981-05-24,0000-00-00
5,adamsmi01w,NaN,0,0,0.0,0,NaN,NaN,0000-00-00,0000-00-00
6,adubari99w,NaN,0,0,0.0,0,NaN,NaN,0000-00-00,0000-00-00
7,aglerbr99w,NaN,0,0,0.0,0,NaN,NaN,0000-00-00,0000-00-00
8,aguilel01w,G,0,0,67.0,165,George Washington,NaN,1976-10-15,0000-00-00
9,ajavoma01w,G,0,0,68.0,160,Rutgers,NaN,1986-05-07,0000-00-00
10,alberma01w,G,0,0,64.0,0,Ohio State,NaN,1975-04-12,0000-00-00
11,aldrima01w,G,0,0,71.0,153,UNC Charlotte,NaN,1973-09-15,0000-00-00
12,alexaer01w,G,0,0,67.0,140,California-Santa Barbara,NaN,1975-04-25,0000-00-00
13,alhalta01w,F-G,0,0,72.0,149,DePaul,NaN,1974-10-17,0000-00-00
14,allench01w,G,0,0,71.0,135,Notre Dame,NaN,1986-07-23,0000-00-00

### Table Analysis

In [29]:
print(players.describe())

       firstseason  lastseason      height      weight
count        893.0       893.0  893.000000  893.000000
mean           0.0         0.0   65.500560  145.415454
std            0.0         0.0   20.940425   61.275703
min            0.0         0.0    0.000000    0.000000
25%            0.0         0.0   68.000000  140.000000
50%            0.0         0.0   72.000000  162.000000
75%            0.0         0.0   75.000000  180.000000
max            0.0         0.0   80.000000  254.000000